{% extends "fourth_task/menu.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block pagename %}
    {{ block.super }}
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Main_page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Главная страница</h1>-->
<!--    <a href="http://127.0.0.1:8000">-->
<!--        <p>Главная страница</p>-->
<!--    </a>-->
<!--    <a href="http://127.0.0.1:8000/main_page/shop_page/">-->
<!--        <p>Магазин</p>-->
<!--    </a>-->
<!--    <a href="http://127.0.0.1:8000/main_page/cart_page/">-->
<!--        <p>Корзина</p>-->
<!--    </a>-->
<!--</body>-->
<!--</html>-->