{% extends "fourth_task/menu.html" %}

{% block title %}<title>shop_page</title>{% endblock %}

{% block pagename %}
<h1>Товары</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
{% for i in games %}
        <p><li>{{ i.title }} | {{ i.description }}. Стоимость: {{ i.cost }} <button>Перейти в раздел</button></li></p>
    {% endfor %}
    <button type="button">
        <a href="http://127.0.0.1:8000">Вернуться обратно</a>
    </button>
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop_page</title>
</head>
<body>
    <h1>Товары</h1>
    {% for i in products %}
        <p><li>{{ i }} <button>Перейти в раздел</button></li></p>
    {% endfor %}
    <button type="button">
        <a href="http://127.0.0.1:8000">Вернуться обратно</a>
    </button>
</body>
</html>